
<div *ngIf="totalPages" class="paginator m-t-40">
    <ng-container *ngIf="totalPages === 1">
        <p class="text-center">
            Showing all {{totalElements}} elements
        </p>
    </ng-container>
    <ng-container *ngIf="totalPages > 1">
    <p class="text-center">
        Showing {{showingItemsFirst}}-{{showingItemsLast}} of {{totalElements}}
    </p>
    <div class="paginator__pages-container">
        <div 
            *ngFor="let pageNumber of totalPages | times" 
            class="paginator__page text-center" 
            [ngClass]="{'selected': selectedPage === pageNumber, 'clickable': selectedPage !== pageNumber}"
            (click)="onPageSelected(pageNumber)">
            {{pageNumber}}
        </div>
    </div>
    </ng-container>
</div>

