<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" autocomplete="off">
  <h1 mat-dialog-title i18n="@@add-movie.title">Add movie</h1>
  <mat-dialog-content>

    <mat-form-field [formGroup]=formGroup>
      <input 
      type="text" 
      matInput 
      formControlName="name" 
      placeholder="Name" 
      [maxlength]="maxNameLength" 
      autocomplete=”false” 
      name=searchName>
    </mat-form-field>

    <mat-form-field [formGroup]=formGroup>
      <input 
      type="number" 
      inputmode="decimal"
      matInput 
      formControlName="runtime" 
      placeholder="Runtime" 
      autocomplete=”false” 
      name=searchRuntime>
    </mat-form-field>
    
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="button" mat-raised-button (click)="onClose()" i18n="@@shared.cancel">Cancel</button>
    <button type="submit" mat-raised-button color="primary" cdkFocusInitial i18n="@@shared.save">Save</button>
  </mat-dialog-actions>
</form>