
<h1 i18n="@@menu.bookings">Bookings</h1>

<app-loader *ngIf="!bookings || bookings.isLoading"></app-loader>

<ng-container *ngIf="bookings && !bookings.isLoading">

  <mat-form-field *ngIf="showSearch" class="search-form-field" appearance="standard">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="search($event)" placeholder="Type to search..." #searchInput>
  </mat-form-field>

<mat-table [dataSource]="dataSource" class="mat-elevation-z1">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <ng-container *ngIf="showSearch">
      <tr class="mat-row no-elements-matching-search-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the search filter</td>
      </tr>
    </ng-container>
  </mat-table>

  <app-paginator 
  [selectedPage]="(bookings.pageNumber + 1)" 
  [totalPages]="bookings.totalPages" 
  [numberOfElementsShowing]="bookings.elements.length"
  [pageSize]="bookings.pageSize"
  [totalElements]="showSearch ? dataSource.filteredData.length : bookings.totalElements"
  (pageSelected)="onPageSelected($event)">
  </app-paginator>
</ng-container>