<div class="text-center m-t-30 m-b-30">
  <h1 i18n="@@select-language.select">Select language</h1>

  <div class="buttons">
    <button type="button" mat-raised-button (click)="selectLanguage('en')">
      <div class="flag-container">
        <img src="assets/images/flags/en.svg" alt="uk-flag" />
        <span>English</span>
      </div>
    </button>

    <button type="button" mat-raised-button (click)="selectLanguage('de')">
      <div class="flag-container">
        <img src="assets/images/flags/de.svg" alt="austria-flag" />
        <span>Deutsch</span>
      </div>
    </button>

    <button type="button" mat-raised-button (click)="selectLanguage('es')">
      <div class="flag-container">
        <img src="assets/images/flags/es.svg" alt="spain-flag" />
        <span>Español</span>
      </div>
    </button>
  </div>
</div>
