<div class="title-container">
  <h1>Movies</h1>
  <button type="button" mat-raised-button color="primary" (click)="onAddElement()"><mat-icon>add</mat-icon> Add movie</button>
</div>

<app-loader *ngIf="!movies || movies.isLoading"></app-loader>

<ng-container *ngIf="movies && !movies.isLoading">
<mat-table [dataSource]="movies.elements" class="mat-elevation-z1">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name || "N/A"}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="runtime">
      <mat-header-cell *matHeaderCellDef> Runtime </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.runtime || "N/A"}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <app-paginator 
  [selectedPage]="(movies.pageNumber + 1)" 
  [totalPages]="movies.totalPages" 
  [pageSize]="movies.pageSize"
  [totalElements]="movies.totalElements"
  (pageSelected)="onPageSelected($event)">
  </app-paginator>
</ng-container>