@import "space-helpers";
@import "variables";
@import "themes";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  margin-bottom: 35px;
  font-size: 16px;
}

h2 {
  font-size: 15px;
}

.text-center {
  text-align: center;
}

.clickable{
  cursor: pointer;
}

.flag-container {
  display: flex;
  align-items: center;
  img {
    width: 21px;
    margin-right: 5px;
  }
}

table {
  width: 100%;
}

.title-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  h1, h2{
    margin: 0;
  }

  .mat-icon{
    position: relative;
    bottom: 1px;
  }
}

.mat-dialog-content{
  display: flex !important;
  flex-direction: column;
}

.mat-dialog-actions{
  justify-content: center;
}

//Notification Service

.mat-snack-bar-container {
  color: white;
  min-width: 270px !important;

  .mat-simple-snackbar {
    justify-content: center;
    font-weight: bold;
  }

  &.success {
    background-color: $successColor;
  }

  &.error {
    background-color: $errorColor;
  }

  &.warning {
    background-color: $warnColor;
  }

  &.info {
    background-color: $infoColor;
  }
}


.mat-row.clickable:hover, .mat-row.selected{
  background-color: $primaryColor;

  .mat-cell{
      color: #fff;
  }
}